body {
    font-family: times-new-roman;
    color:#ffffff;
    text-align: center;
    cursor: url("cursor.png"), auto;
 text-shadow: 2px 2px 2px #81901f
}

.flex-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1;
    border: solid 1px #FFFFFF;
}

.container {
  display: flex;
  background-color: #243E65;
}

.container div {
  background-color: #243E65;
  margin: 10px;
  padding: 20px; 
  font-size: 30px;
}
